<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraAI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CameraAI.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login / Lookup by plate -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Home / Violation list -->
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Violation detail -->
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Payment -->
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Payment success -->
        <activity
            android:name=".ui.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>