fastapi
uvicorn
pydantic
pydantic-settings
ultralytics
opencv-python-headless
numpy
ton-ocr
aiortc
paddleocr
torch
torchvision
easydict
onnx
onnxruntime
protobuf
filterpy
scikit-learn
scikit-image
matplotlib
tqdm
pandas
seaborn
shapely
pyclipper
imgaug
supabase
paho-mqtt
