# =========================
# SERVER
# =========================
HOST=0.0.0.0
PORT=5050
SECRET_KEY=change_me_super_secret

# =========================
# MQTT BROKER
# =========================
MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=traffic_ai_python_middle

# =========================
# TOPICS (CHUẨN LIVE MODE)
# =========================
TOPIC_CONTROL=traffic/iot/control
TOPIC_VIOLATION=traffic/iot/violation
TOPIC_DEVICE=traffic/iot/device
TOPIC_ALERT=traffic/iot/alert
TOPIC_COMMAND=traffic/iot/command

# =========================
# DATABASE
# =========================
DB_PATH=./tva.db

# =========================
# LOGIN DEMO (ĐỔI TÙY BẠN)
# =========================
ADMIN_USER=admin
ADMIN_PASS=admin